<div class="field">
  <div class="form-group">
    <label>Master Type</label> &nbsp;
    <select (change)="setCurrentMaster($event.target.value)">
      <option *ngFor="let masterType of masterTypes">
        {{ masterType }}
      </option>
    </select>
  </div>
</div>
<div>
  <table>
    <tbody>
    <tr>
      <td><input [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()" matTooltip="Search" placeholder="Search" /></td>
      <td><input type="text" [(ngModel)]="masterValue" class="form-control" id="masterValue"></td>
      <td>&nbsp;<button type="button" (click)="createNewMaster()" class="btn btn-success">Add New</button></td>
    </tr>
    </tbody>
  </table>

</div>
<br>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Master Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let master of masters | async; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ master.value }}</td>
          <td><button (click)="deleteAdminMaster(''+master.id+'')" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

