<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Company List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company</th>
          <th>Description</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies | async">
          <td>{{company.name}}</td>
          <td>{{company.description}}</td>
          <td>{{company.disabled}}</td>
          <td>Action </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

