<!-- wrapper -->
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <h3>Create Movement (Port/CFS to Factory)</h3>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>

      <!-- Date picker -->
      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker1" placeholder="Date of Transport" formControlName="transportDate"
               (dateChange)="date1($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Movement Type" formControlName="movementType" (change)="inputChanged('movementType', $event)" [matAutocomplete]="movement">
        <mat-autocomplete #movement="matAutocomplete">
          <mat-option *ngFor="let option of masterMovementType | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('movementType', 'incorrect')">
          Please select a Movement type  from the List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Vehicle Type" [matAutocomplete]="vehicletype" (change)="inputChanged('vehicleType', $event)" formControlName="vehicleType">
        <mat-autocomplete #vehicletype="matAutocomplete">
          <mat-option *ngFor="let option of masterVehicleType | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('vehicleType', 'incorrect')">
          Please select a Movement type  from the List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Size" formControlName="size">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Container Number" formControlName="containerNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="From Location" (change)="inputChanged('fromLocation', $event)" formControlName="fromLocation" [matAutocomplete]="port">
        <mat-autocomplete #port="matAutocomplete">
          <mat-option *ngFor="let option of masterPort | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('fromLocation', 'incorrect')">
          Please select a Location  from the List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="To Location" formControlName="toLocation" [matAutocomplete]="cfs">
        <mat-autocomplete #cfs="matAutocomplete">
          <mat-option *ngFor="let option of masterCFS | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Cargo Weight" formControlName="cargoWeight">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="BL Number" formControlName="blNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Pickup Point" formControlName="pickupPoint">
      </mat-form-field>

      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker2" placeholder="Pickup Date" formControlName="pickup_date"
               (dateChange)="date2($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker3" placeholder="Delivery Date" formControlName="deliveryDate"
               (dateChange)="date3($event)">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Delivery Date" formControlName="deliveryDate">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Time In" formControlName="timeIn">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Time Out" formControlName="timeOut">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Empty In" formControlName="emptyIn">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="BOE No" formControlName="boeNo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Consignee Name Address" formControlName="consigneeNameAddress"  [matAutocomplete]="consignee">
        <mat-autocomplete #consignee="matAutocomplete" (optionSelected)="consigneeSelected($event)"  [displayWith]="displayWith" >
          <mat-option *ngFor="let option of filteredConsignee | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('consigneeNameAddress', 'incorrect')">
          Please select a Consignee from the List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contract Type" formControlName="contractType">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="PO Shipment No" formControlName="poShipmentNo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="No Of Packages" formControlName="noOfPackages">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Seal No" formControlName="sealNo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Rate" formControlName="rate">
        <mat-error *ngIf="errorHandling('rate', 'pattern')">
          You must provide valid number for <strong>Rate</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Advance" formControlName="advance">
        <mat-error *ngIf="errorHandling('advance', 'pattern')">
          You must provide valid number for <strong>Advance</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Diesel" formControlName="diesel">
        <mat-error *ngIf="errorHandling('diesel', 'pattern')">
          You must provide valid number for <strong>Diesel</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Incentive" formControlName="incentive">
        <mat-error *ngIf="errorHandling('incentive', 'pattern')">
          You must provide valid number for <strong>Incentive</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Cash Sundries" formControlName="cashSundaries">
        <mat-error *ngIf="errorHandling('cashSundaries', 'pattern')">
          You must provide valid number for <strong>Incentive</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Vehicle Number"  formControlName="vehicleNumber" [matAutocomplete]="vehicle" >
        <mat-autocomplete #vehicle="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="vehicleSelected($event)">
          <mat-option *ngFor="let option of filteredVehicles | async" [value]="option">
            {{option.number}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('vehicleNumber', 'incorrect')">
          Please select a Vehicle Number from the List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Driver Name" matTooltip="Type to Search" formControlName="driverName" [matAutocomplete]="driver">
        <mat-autocomplete #driver="matAutocomplete"  [displayWith]="displayDrFn" (optionSelected)="driverSelected($event)">
          <mat-option *ngFor="let option of filteredDrivers | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="errorHandling('driverName', 'incorrect')">
          Please select a Driver Name from List
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="LR Number" formControlName="lrNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="DO Number" formControlName="doNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Remark" formControlName="remark">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Other Expenses" formControlName="otherExpenses">
      </mat-form-field>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>
      <br><br>

      <div [hidden]="!error">
        <h5><p class="help is-danger">{{ message }}</p></h5>
      </div>

      <div [hidden]="!success">
        <h5><p class="help is-success">{{ message }}</p></h5>
      </div>
    </form>


  </mat-sidenav-content>
</mat-sidenav-container>
