<div>
  <button mat-flat-button routerLink="/create-factory-master" color="primary">Create Factory Master</button>
</div>
<br>
<div>
<input [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()" matTooltip="Search" placeholder="Search" />
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Factory Name</th>
          <th>Address</th>
          <th>Location</th>
          <th>Distance in KM</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let master of masters | async; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ master.name }}</td>
          <td>{{ master.address }}</td>
          <td>{{ master.location }}</td>
          <td>{{ master.kms }}</td>
          <td><button (click)="deleteFactory(''+master.id+'')" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

